Project1/.settings/*.prefs
Project1/target/classes/com/endava/test/Project1/*.class
Project1/target/classes/META-INF/maven/com.endava.test/Project1/pom.properties
Project1/target/test-classes/com/endava/test/Project1/*.class
Project1/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
Project1/.classpath
Project1/.project
workshopDataAndLanguage/Biblioteca/.classpath
workshopDataAndLanguage/Biblioteca/.project
workshopDataAndLanguage/NumereComplexe/.classpath
workshopDataAndLanguage/NumereComplexe/.project
workshopDataAndLanguage/Constructori/.classpath
workshopDataAndLanguage/Constructori/.project
oopFundamentals/.project
oopFundamentals/.classpath
flowControlAndErrorHandling/.project
flowControlAndErrorHandling/.classpath
StackCollection/.settings
StackCollection/.classpath
StackCollection/.project
javaTypeSystem/.classpath
javaTypeSystem/.project
collectionsHomework/.classpath
collectionsHomework/.project